.dark:active{
    
}
#MenuPane
{
    -fx-background-color: #228BE6;
}
#MenuPane
{
    -fx-background-color: #228BE6;
}
.design
{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 45 45;
    
}
.btnCheck
{
    -fx-background-image: url('ico/icoCheck.png');
        
}
.btnCheck:hover
{
    -fx-background-image: url('ico/icoCheckHover.png');
}
.btnCheck:pressed
{
    -fx-background-image: url('ico/icoCheck.png');
}
.btnHelpW
{
    -fx-background-image: url('ico/icoHelpW.png');
}
.btnHelpW:hover
{
    -fx-background-image: url('ico/icoHelpWA.png');
}
.btnHelpW:pressed
{
    -fx-background-image: url('ico/icoHelpW.png');
}
.btnHelpB
{
    -fx-background-image: url('ico/icoHelpB.png');
}
.btnHelpB:hover
{
    -fx-background-image: url('ico/icoHelpBA.png');
}
.btnHelpB:pressed
{
    -fx-background-image: url('ico/icoHelpB.png');
}
.btnRefreshW
{
    -fx-background-image: url('ico/icoRefreshW.png');
}
.btnRefreshW:hover
{
    -fx-background-image: url('ico/icoRefreshWHover.png');
}
.btnRefreshW:pressed
{
    -fx-background-image: url('ico/icoRefreshW.png');
}
.btnRefreshB
{
   -fx-background-image: url('ico/icoRefreshB.png');
}
.btnRefreshB:hover
{
    -fx-background-image: url('ico/icoRefreshBHover.png');
}
.btnRefreshB:pressed
{
    -fx-background-image: url('ico/icoRefreshB.png');
}
.btnMoon
{
    -fx-image:url("ico/icoMoon.png");        
}
.btnMoon:hover
{
    -fx-image:url("ico/icoMoonP.png");        
}
.btnMoon:pressed
{
    -fx-image:url("ico/icoMoon.png");        
}
.btnEye
{
    -fx-background-image: url('ico/icoEye.png');
}
.btnEye:hover
{
    -fx-background-image: url('ico/icoEyeHover.png');
}
.btnEye:pressed
{
    -fx-background-image: url('ico/icoEye.png');
}
.btnVoice
{
    -fx-background-image: url('ico/icoVoice.png');
    }
.btnVoice:hover
{
    -fx-background-image: url('ico/icoVoiceHover.png');
    }
.btnVoice:pressed
{
    -fx-background-image: url('ico/icoVoice.png');
}
.btnSave
{
    -fx-background-image: url('ico/icoSave.png');
}
.btnSave:hover
{
    -fx-background-image: url('ico/icoSaveHover.png');
}
.btnSave:pressed
{
    -fx-background-image: url('ico/icoSave.png');
}
.btnToggle
{
    -fx-background-image: url('ico/icoMoon.png');
}
.btnToggle:selected
{
    -fx-background-image: url('ico/icoMoonP.png');
}
